@media screen and (max-width: 960px) {
  .cafe-icon {
    position: absolute;
    align-items: center;
    top: 35%;
  }

  .cafe-icon img {
    width: 150px;
    filter: contrast(60%);
  }

  #navi {
    width: 100%;
    background: #ece4d8;
    padding: 25px;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;

    display: none;
  }

  .open #navi {
    display: block;
    left: 0;
    opacity: 1;
    z-index: 15;
  }

  #navi ul.nav-menu {
    flex-direction: column;
    margin-bottom: 30px;
  }

  #navi ul li {
    padding: 10px 0;
  }

  .hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 32px;
    right: 18px;
    transition: 0.5s;
    z-index: 20;
  }

  .hamburger span {
    width: 30px;
    height: 2px;
    background-color: #121212;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }

  .hamburger span:nth-child(1) {
    top: 4px;
  }

  .hamburger span:nth-child(2) {
    top: 14px;
  }

  .hamburger span:nth-child(3) {
    bottom: 4px;
  }

  .open .hamburger span {
    background-color: #fff;
  }

  .open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  .open .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }

  #mask {
    display: none;
    transition: 0.5s;
  }

  .open #mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .site-title {
    display: none;
  }

  .mainvisual {
    height: 500px;
  }

  .cafe-icon {
    position: absolute;
    top: 50%;
  }

  .about-container {
    height: auto;
  }

  .section-title {
    padding: 0 0 40px;
  }

  .text p {
    text-align: left;
  }

  .text {
    width: 100%;
    font-size: 0.7rem;
  }

  .fifter {
    background-size: 100px;
    background-image: none;
  }

  .macchinetta {
    background-size: 100px;
    background-image: none;
  }

  .espresso {
    background-size: 100px;
    background-image: none;
  }

  .beans {
    background-size: 100px;
    background-image: none;
  }

  .menu-container {
    margin-top: -63px;
    z-index: -1;
  }

  .steps {
    position: absolute;
    top: 150px;
    left: 10%;
  }

  #contact dl {
    flex-direction: column;
    margin-left: 50px;
  }
}
