.swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  background: url(/img/background-img.png) repeat;
  animation: fall 10s infinite linear;
  background-size: cover;
  align-items: center;
  padding-bottom: 30px;
  z-index: -1;
  display: flex;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.swiper-slide img {
  width: 20%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .swiper-slide img {
    width: 50%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
